@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
body {
    font-family: cursive;
    font-size: 11px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #dcffef; /* El color del fondo de la página web */
    color: #aa854e; /* El color del texto*/ 
    margin: 100px;
    
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

h1 {
    animation: fade 3s infinite;
}
h1 {
    color: #00a800; /* El color de la cabecera */
    font-size: 24px; /* El tamaño de la fuente de la cabecera */
    font-family: "Grechen Fuemen", serif;
    width: 60%;
    background-color: rgb(183, 0, 255);
}
img{
    width: 50%;
}